/**
 * @package         Regular Labs Library
 * @version         19.10.23919
 * 
 * @author          Peter van Westen <info@regularlabs.com>
 * @link            http://www.regularlabs.com
 * @copyright       Copyright © 2019 Regular Labs All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
@import "init.less";

.chzn-small {
	width: 120px;
}

// hide chosen dropdown on color picker J3.2.3+
div.chzn-container[id^="color_"][id$="_chzn"],
div.chzn-container#advancedparams_color_chzn {
	display: none;
}

.input-full {
	width:      100%;
	box-sizing: border-box;
}

input[type="text"].input-full {
	height: 28px;
}

.controls .input-maximize {
	&:focus,
	.chzn-container:hover,
	.chzn-with-drop {
		min-width: 99%;
	}
}

.btn-group-yesno-reverse {
	.active {
		&.btn-success {
			.buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
		}

		&.btn-danger {
			.buttonBackground(@btnSuccessBackground, @btnSuccessBackgroundHighlight);
		}
	}
}

input.rl_codefield,
input.rl_keyfield,
div.rl_keycode {
	#font > #family > .monospace;
	font-size: 1.4em !important;
}

input.rl_codefield,
input.rl_keyfield {
	font-size: 14px !important;
}

.btn.disabled {
	cursor: not-allowed !important;
}

.rl_keycode {
	color:   @grayLight;
	padding: 2px 0;
}

fieldset.rl_plaintext {
	margin-top: 5px;
}

.rl_textarea {
	.box-sizing(border-box);
}

.inlist .simplecolors-swatch span {
	position: relative;
}


.rl_spinner {
	display:        inline-block;
	box-sizing:     border-box;
	vertical-align: top;
	margin:         0 4px;
	border-top:     5px solid #7ac143;
	border-right:   5px solid #f9a541;
	border-bottom:  5px solid #f44321;
	border-left:    5px solid #5091cd;
	border-radius:  50%;
	width:          20px;
	height:         20px;
	animation:      rl_spinner 1s linear infinite;
}

@keyframes rl_spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
